.sidenav {
    background-color: #9400d3;
    width: 200px;
}

.sidenav_link > .mdc-list-item__content > span {
    color: #fff!important;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #fff;
}